div {
	width: 800px;
	line-height: 1.5em;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}
h2 { 
	margin-top: 0;
	padding: 5px;
	background-color: #87ceeb;
}
#break {
	-webkit-column-break-before: always;
	break-before: column;
}
p{
	margin: 0;
}