div {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: large;
}
#container {
	width: 600px;
	height: 300px;
	background-color: #fffff0;
	border: 2px dotted #808080;
	display: -ms-grid;
	-ms-grid-columns: 100px 300px 200px;
	-ms-grid-rows: 100px 200px;
}
#item1 {
	width: 40px;
	height: 40px;
	background-color: #ff6600;
	-ms-grid-column: 1;
	-ms-grid-row: 1;
	-ms-grid-column-align: center;
	-ms-grid-row-align: center;
}
#item2 {
	width: 100px;
	height: 80px;
	background-color: #ffcc33;
	-ms-grid-column: 2;
	-ms-grid-row: 2;
	-ms-grid-column-align: end;
	-ms-grid-row-align: start;
}
#item3 {
	background-color: #33ff99;
	-ms-grid-column: 3;
	-ms-grid-row: 2;
}