div {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: x-large;
}
#container {
	width: 600px;
	height: 300px;
	border: 2px solid #808080;
	display: -moz-box;		/* Fx용 */
	display: -webkit-box; 	/* Safari, 스마트폰용 */
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-moz-box-pack: justify;		/* Fx용(미지원) */
	-webkit-box-pack: justify; 	/* Safari, 스마트폰용 */
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
#item1 {		
	background-color: #ff9999;
	width: 100px;
}
#item2 {	
	background-color: #ffff66;
	width: 200px;
}
#item3 {
	background-color: #99ffcc;
	width: 100px;
}
#item4 {
	background-color: #ccccff;
	width: 80px;
}