div {
	width: 100px;
	height: 100px;
	background-color: #ff0033;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	-webkit-transition-property: width, height, background-color;
	-webkit-transition-duration: 3s;
	-webkit-transition-delay: 2s;
	transition-property: width, height, background-color;
	transition-duration: 3s;
	transition-delay: 2s;
}
div:hover {
	width: 300px;
	height: 200px;
	background-color: #ffff33;
}